mat-toolbar {
  position: fixed;
  z-index: 2;

  h1 {
    margin-left: 8px;
  }
}

.app-name {
  text-decoration: none;

  h2 {
    font-size: 20px;
    margin: 22px 16px;
    color: var(--primary);
    line-height: 1;
  }
}

mat-sidenav-container {
  flex: 1;

  mat-sidenav {
    width: 256px;
  }
}

mat-sidenav-content {
  height: 100vh;
}
