.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 8px;

  app-batch-card {
    margin: 4px;
    flex: 0 1 calc(20% - 8px);

    @media (max-width: 791px) {
      flex: 0 1 calc(100% - 8px);
    }

    @media (min-width: 792px) and (max-width: 1051px) {
      flex: 0 1 calc(50% - 8px);
    }

    @media (min-width: 1052px) and (max-width: 1311px) {
      flex: 0 1 calc(33.333% - 8px);
    }

    @media (min-width: 1312px) and (max-width: 1571px) {
      flex: 0 1 calc(25% - 8px);
    }

    @media (min-width: 1572px) {
      flex: 0 1 calc(20% - 8px);
    }
  }
}
