.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-toolbar {
  position: fixed;
  z-index: 2;

  h1 {
    margin-left: 8px;
  }
}

.app-name {
  font-size: 20px;
  margin: 22px 16px;
  color: var(--primary);
  line-height: 1;
}

mat-sidenav-container {
  flex: 1;

  mat-sidenav {
    width: 256px;
  }
}
